@model BusinessObjectsasModelsinMVC.Models.StudentsDetailsViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>StudentsDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentEmails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentEmails)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="Delete" value="Delete" class="btn btn-default" onclick="loaction.href='@Url.Action("Delete","Student")'" />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
